<div class="max-width has-padding">    
    <h1>Posting guidelines</h1>
    <ol>
      
      
      <li>Elaborate in detail, so we can better help you!</li>
    </ol>

		<%= render 'form' %><br>
	<%= link_to 'Back', questions_path %>
</div>