


<section id="faq" class="faq section">
        <div class="max-width has-padding">
            <div class="row">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question">Why sign up?</h3>
                        <p class="answer"> We believe that by focusing on academics and training, you will increase the likelihood of getting in to the school of your choosing.  We have been through the process and have developed a blueprint for achieving this. </p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question">How much does it cost?</h3>
                        <p class="answer">The cost is $20 a month and the subscription will charge you every month unless you cancel.  But we fully intend to deliver more value than this. If you have to cancel, for any reason, you will have access to the website until the end of the month.  There is a 20% discount on the 1-year plan.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question">Film Review, how so and why?</h3>
                        <p class="answer">Many reasons, in today's game many players go from game to game making the same mistakes.
                        We will access your performance and recommend drills you can do to improve your game. </p>
                    </div><!--//item-->
                </div><!--//faq-col-->
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">

                    <div class="item">
                        <h3 class="question">What can you expect?</h3>
                        <p class="answer">You will get one training video a month showcasing a complete training lesson that we have used to compete and excel in High School, College, and the MLL. In addition to video tutoring, we offer a unique and active suite of products- you can send us film, send us school inquiries, academic requests, and much more.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question">What type of academic support do you offer?</h3>
                        <p class="answer">In the partnerships that we have formed, you will have access to study guides by subject as well as test prep study guides.  And for any random questions, feel free to reach out and we'll have an Ivy League Graduate contact you directly.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question">What experience do you have in recruiting?</h3>
                        <p class="answer"> All the instructors were recruited by every school.  We know the process and still keep in close contact with many college coaches. We also know the skill level required for each level of play, whether it be college or high school.  Anything that we cannot answer (which is unlikely), we are one phone call away from talking to a head coach.  Lastly, we can guide your expectations on the process and expected outcome, saving you time and money. </p>
                    </div><!--//item-->
                </div><!--//faq-col-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//faq-->


    

<div class="divider thin"></div>

<section class="action">
  <div class="max-width has-padding center">
    <h2>Get Your Edge <i>NOW</i></h2>
    <%= link_to "START LEARNING", pricing_path, class: "btn btn-lg btn-default center", data: { no_turbolink: true } %>
  </div>
</section>    
   