<div class="container-center">
  <div class="about">
    <h2>About Us</h2>
      <p>YoungLaxGuns is a online platform dedicated to improving the future of youth laxers.  We are passionately dedicated to improving 
        you as a student, lacrosse player, and community member.  Our platform gives you an edge in taking control of your future
        and improves the chances getting you where you want to be.  We've been through the struggle and are providing you and all-in-one platform to develop you to be successful now and in the future. 
      </p>
  </div>
</div>

<section id="faq" class="faq section">
        <div class="container-center">
            <div class="row">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question">Why sign up?</h3>
                        <p class="answer"> We genuinely want you to improve in all aspects of your life. We believe that by focusing on training, academics, and volunteering, you will increase the likelihood of getting in to the school of your choosing.  We have been through the process and have developed a blueprint for achieving this. </p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question">What can you expect?</h3>
                        <p class="answer">You will get one training video a month showcasing a complete training lesson that we have used to compete and excel in High School, College, and the MLL.  We have partnered with educational companies to provide you with the resources needed to improve inclass and standardized testing results.  You will also be able to participate in local Volunteering opportunities that we will set you up with. </p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question">Why volunteer?</h3>
                        <p class="answer">Many reasons, volunteering strengthens the community and promotes personal growth and self esteem.  Additionally, the top Universities want well rounded applicants who have developed skills on and off the field. </p>
                    </div><!--//item-->
                </div><!--//faq-col-->
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question">How much does it cost?</h3>
                        <p class="answer">The cost is $20 a month and the subscription will charge you every month unless you cancel.  But we fully intend to deliver more value than this. If you have to cancel, for any reason, you will have access to the website until the end of the month.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question">What type of academic support do you offer?</h3>
                        <p class="answer">In the partnerships that we have formed, you will have access to study guides by subject as well as test prep study guides.  Any for any random questions, feel free to reach out and we'll have an Ivy League Graduate contact you directly.</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question">What experience do you have in recruiting?</h3>
                        <p class="answer">Not to pump our own tires, but all the instructors were recruited by every school.  We know the process and still keep in close contact with many college coaches. Anything that we cannot answer (which is unlikely), we are one phone call away from talking to a head coach.   </p>
                    </div><!--//item-->
                </div><!--//faq-col-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//faq-->