<section id="film">
  <div class="max-wide has-padding">
        <div class="panel panel-default">
          <div class="panel center">
            <h3>Film Review</h3>
          </div>

  <div class="panel-body">

   <div class="form-group">
   
      <h4 class="center">Step 1</h4>
      
      <p> 1. Find the latest film of you playing, preferably not a highlight tape. Either a youtube link, a hudl link, anything really.</p>
      
      <h4 class="center">Step 2</h4>
      
       <p> 2. Send all relevant information to dg@TelosLax.com.  Including Name, Number, and Team.</p>
      
      <h4 class="center">Step 3</h4>
      
       <p> 3. We will watch your film and respond shortly with a detailed write-up on what you need to work on and specific drills catered to developing your weaknesses </p>
      
   </div>
 </div>
      
 
  


    </div>
  </div>
</section>


 