

<div class="center">
  <h1>Film Review</h1>
  <div class="row">
    <h4>Okay good - here is what you are going to do. </h4>
   
      <strong><div><h3>Step 1</h3></div></strong>
      <div>
        Find the latest film of you playing, preferably not a highlight tape. Either a youtube link, a hudl link, anything really.
      </div><br><br>
      <strong><div><h3>Step 2</h3></div></strong>
      <div>
        Send me it. My email is dg@TelosLax.com.  Include your # so I know who to look at.
      </div><br><br>
      <strong><div><h3>Step 3</h3></div></strong>
      <div>
        There is no step 3. It's simple.  You want to get better? Just send it and I will give you a nice write up on what you need to work on. 
      </div><br><br>
      <strong><div><h3>Nice Work </h3></div></strong>
      <div>
        Lets Do This
      </div>
  
  </div>
</br>
</br>
</br>
</div>
       
<div class="center">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
          <%= image_tag('teloslaxlogo.png', width: "100%") %>
</div>
</div>
</div>
 