<section class="top">
  <div class="max-width has-padding center">
    <h2>GET TO THE NEXT LEVEL</h2>
    <%= link_to "GET STARTED NOW", pricing_path, class: "btn  btn-default btn-lg", data: { no_turbolink: true } %>
  </div>
</section>




<section class="ideas">
  <div class="max-width has-padding center">
    <div class="row">
      <h5>You'll get an edge on the field with instructional video lessons and a leg up in the classroom
with online tutoring.</h5>
      <h6>– <a href="#" data-toggle="modal" data-target="#author-modal">Dean Gibbons</a>, INSTRUCTOR &amp; CEO OF TELOS LAX </h6>

    </div>
  </div>
</section>
<div class="divider thin"></div>

<section class="platform">
  <div class="max-wide has-padding center">
            <div class="row">

        <h1>Comprehensive Learning Platform</h1>
        <p>Build your foundation with the easiest and most intuitive learning platform. We provide all the resources and mentorship you need so you can focus on improving athletically and academically.</p>
    </div>
  </div>
</section>     
<div class="divider thin"></div>

<section class="story">
        <div class="max-width has-padding center">
            <h2> What You Get</h2>
            <div class="row">
                <div class="overview col-md-6 col-sm-12 col-xs-12">
                    <h2 class="title">On The Field</h2>
                    <ul class="summary">
                      <li>Instructional Lessons From Pros</li>
                      <li>Tailored Drills For Your Position</li>
                      
                      <li>Exercises to Increase Athleticism</li>
                      <li>Tips To Increase Lax IQ</li>
                    </ul>
 
                </div><!--//overview-->
                <div class="overview col-md-6 col-sm-12 col-xs-12">
                    <h2 class="title">In the Classroom</h2>
                    <ul class="summary">
                      <li>Direct Access to Online Tutor</li>
                      <li>Forum Based Learning Community</li>  
                      <li>Standardized Test Guidance</li>
                      <li>Email Support 7 Days a Week</li>
                    </ul>
                </div><!--//overview-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->      



<div class="divider thin"></div>

<section class="membership">
    <div class="max-width has-padding center">
            <div class="row">

        <h1>Who It's For</h1>
        <p>Youth Lacrosse Players Who Think School Is Just As Important</p>
  </div>
  </div>
</section> 

<div class="divider thin"></div>



<section class="team">
        <div class="max-width has-padding center">
            <h2> Our Team</h2>
            <div class="row">
                <div class="overview col-md-6 col-sm-12 col-xs-12">
                    <h2 class="title">Ryan Young</h2>
                    <ul class="summary">
                        <li>Maryland 2011 </li>
                         <li>2013 MLL All Star</li>
                        <li>2X All-ACC Selection </li>
                        <li>2011-2014 MLL Player</li>
                        <li>3X Division 1 All-American</li>
                         <li>USA U-19 2008 Gold Medal  </li>
                        <li>2007 Under Armour All-American</li>
                        <li>From Manhasset, Long Island </li>
                    </ul>
 
                </div><!--//overview-->
                <div class="overview col-md-6 col-sm-12 col-xs-12">
                    <h2 class="title">Dean Gibbons</h2>
                    <ul class="summary">
                        <li>Harvard 2011</li>
                        <li>2014 MLL Player</li>
                        <li>2X Division 1 All-American</li>
                        
                        <li>USA U-19 2008 Gold Medal </li>
                        
                        <li>2007 Under Armour All-American</li>
                        <li>LI single-season record 101 goals</li>
                        <li>2007 Nassau County Player of the Year</li>
                        <li>From Garden City, Long Island </li>
                    </ul>
                </div><!--//overview-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->   


<div class="divider thin"></div>

<section class="action">
  <div class="max-width has-padding center">
    <h2>Get Your Edge <i>NOW</i></h2>
    <%= link_to "START LEARNING", pricing_path, class: "btn btn-lg btn-default center", data: { no_turbolink: true } %>
  </div>
</section>


<div class="modal fade" id="author-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">About the Teacher</h4>
      </div>
      <div class="modal-body clearfix">
            <div id="modal-left" class="pull-left">
                <p><strong>Dean Gibbons</strong></p>
                <p>Hey, I'm Dean Gibbons, founder of Telos Lax that aims to develop youth lacrosse players both on and off the field.</p>
                <p>Why subscribe? In the past I've mentored many youth laxers who've gone on to be successful at the next level, both college and high school. The methods you'll learn are effective and practical.  I've used them myself and they helped me thrive in high school and for 4 years at <a href="http://www.gocrimson.com/sports/mlax/2010-11/bios/gibbons_dean" target="_blank">Harvard</a>.<p>
                <p>  My time has come and gone but your time is now. Our goal is to help you get to the next level.
                </p>
                
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>