<div class="container">
	<div class="box">
    <h3 class="center">Welcome to Telos Lax!</h3>
    <h4 class="center">We're excited to have you as a student. Please contact us if you have any comments, questions, or feedback. <br><br>Click below to get started!</h4>
		<div class="center">
			<%= link_to "Get started", lessons_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>