// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lessons {
	font-family: "TradeGothicLTPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
}


.academics {
	font-family: "TradeGothicLTPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.category {
	font-size: 20px;
	list-style: none;
	text-decoration: none;
}
