// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lessons {
	font-family: "TradeGothicLTPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
h5 {
	text-align: left;
} h6{
	text-align: left;
}
  a {
     background-color: #6e6e6e;
    text-decoration: none;
    
    color: #fff;
    font-size: 22px;
    padding: 12px 55px;
    margin-right: 0rem;
    
    font-weight: 450;
    margin-top: 20px;
    border-radius: 0px;
  }
}


#academics {
	font-family: "TradeGothicLTPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
p {
	font-size:  17px;
}
}

.category {
	font-size: 20px;
	list-style: none;
	text-decoration: none;
}

#film  { p {
	font-size: 18px;
	font-weight: 300;
}
}