<section class="charges-body">
  <div class="max-width has-padding">
    <div class="row">
      <h3 class="center">Thanks for being a Telos Lax student!</h3>
      

      <p class="center">If you've enjoyed the  course videos so far, I hope that you'll support us by paying $20 to access the entire 
    </div>

    <div class="center pay">
      <%= form_tag charges_path do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Access to video library"
                data-email="<%= current_user.email %>"
                data-name="TelosLax"
                data-allow-remember-me="false"
                data-amount="2000"></script>
      <% end %>
    </div>
  </div>
</section>