


<footer class="footer">
	<div class="container">
		<div class="footer-links center">
                <%= link_to "About", pages_faq_path %>
                <%= link_to "Terms of Use", pages_terms_path %>
                <%= link_to "Privacy", pages_privacy_path %>
			
			<%= mail_to "dg@teloslax.com" do %>
			  Contact
			<% end %>
		</div>

		<p class="copyright center">Copyright © 2014 TelosLax</p>
	</div>
</footer>

