   <footer class="footer">
        <div class="container-center">
           
            <ul class="links list-inline">
                <li><%= link_to "About", pages_faq_path %></li>
                <li><%= link_to "Terms of Use", pages_terms_path %></li>
                <li><%= link_to "Privacy", pages_privacy_path %></li>
            </ul>
        </div>
 



	<div class="footer-content-container-slim container-semi-opaque">
			<div class="container page-container">
				<div class="row text-muted text-center row-space-8 row-space-top-6 copy-wrap">
					<div id="copyright">© Lax 2014</div>
				</div>
			</div>
		</div>

		   </footer><!--//footer-->